@font-face {
    font-family: "balsamiqsans" ;
    src: url("../fonts/BalsamiqSans-Bold.ttf");
}
@font-face {
    font-family: "caveat";
    src: url("../fonts/Caveat-Bold.ttf");
}
@font-face {
    font-family: "qsand-medium";
    src: url("../fonts/Quicksand-Medium.ttf");
}
*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
width: 100%;
height: 50px;
background:#F08080 ;
color: #fff;
font-family: "balsamiqsans";
 /* le doy una posicion fija */ 
position: fixed;
top:0;
left:0;
z-index: 100; /* para que este siempre por delante de los otros elementos*/ 
}

.contenedor{
    width: 98%;
    margin: auto;
}
h1{
    letter-spacing: 0.3125em;
    text-shadow: 1px 1px 2px black;
    float: left;
}
/*limpio los float*/
header .contenedor{
    display: table;
}

/* MENU*/ 
 
 #menu-bar{
     display: none;

 }
 header label{
     float: right;
     font-size: 1.75em;
     margin: 0.375em 0;
     cursor: pointer;/*aparece la manito cuando estoy arriba*/
    }

 .menu{
     position: absolute;
     top:7.610350076103501vh;/*donde comienza el menu*/
     left: 0;
     width: 100%;
     height: 100vh;
     background: rgba(123, 36, 28,0.9);/*transparencia*/
     transition: all 0.5s;
     transform: translateX(-100%);
 }

 .menu a{
     display: block;
     color: #fff;
     height:7.610350076103501vh;
     text-decoration: none;
     padding: 2.2831050228310503vh;
     border-bottom: 1px solid rgba(255,255,255,0.5);
 }

 .menu a:hover{
     background: rgba(255,255,255,0.3);
}
#menu-bar:checked ~ .menu{
    transform: translateX(0%);
}

section{
    width: 100%;
    margin-bottom: 25px;
}

/*Banner*/
#banner{
    margin-top: 7.610350076103501vh;
    position: relative; 
}

#banner img{  
    width: 100%;
    height: 100%;
}
#banner .contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) ;
    
}

#banner h2{
    font-size: 2em;
    font-family: "balsamiqsans" ;
    text-shadow: 1px 1px 2px black;
    color:#541A1A ;
}

#banner a {
    display: block;
    width: 100px;
    color:#541A1A;
    text-decoration: none;
    padding: 7px;
    margin-top: 10px;
    background-color: #F08080;
    border: 3px solid #541A1A;
}

#banner a:hover{
    background: rgba(123, 36, 28,0.9);

}

#banner p{
    font-size: 1.25em;
    font-family: "balsamiqsans";
}

/*BOX 1 (Ingredientes)*/

#box1{
    box-sizing: border-box;
    width: 100%;
    height: 58vh;
    padding: 5px;
    background-color: #FDEDEC;
    display: flex;
   
    
    }
    
    #ingredientes{
    
      width:50%;
      height: 55vh;
      box-sizing: border-box;
      padding: 5px;
      margin : 6px;
      overflow: auto;
      background-color: #F5B7B1;
      float: left;
    }
    
    #ingredientes h2{
    
      text-align: center;
      font-family: "caveat" ;
      color:#1C2833;
      font-size: 5.80vw;
    }
    
    #ingredientes .ulingredientes{
      list-style: none;
      font-size: 4vw;
    font-family: "qsand-medium";
   
      color: #1B2631;
    }
    
    .chipa1{
    
     margin: 6px;
     box-sizing: border-box;
    
    }
    
    .chipa1 img{ 
    border: black 2px solid;   
    width: 50vw;
    height: fit-content;


}

 


   /*BOX 2(procedimiento)*/
    #box2{
        box-sizing: border-box;
        width: 100%;
        height: 58vh;
        padding: 5px;
        background-color: #FDEDEC;
        display: flex;
        justify-content: center;
        
        }
        
        #procedimiento{
        
          width:100%;
          height: 55vh;
          box-sizing: border-box;
          padding: 5px;
          margin : 6px;
          overflow: auto;
          background-color: #F5B7B1;
          float: left;
        }
        
        #procedimiento h2{
        
          text-align: center;
          font-family: "caveat" ;
          color:#1C2833;
          font-size: 5.80vw;
        }
        
        #procedimiento .olprocedimiento{
          
          font-size: 4vw;
          font-family: "qsand-medium";
          color: #1B2631;
        }
        
/*VIDEO*/

        #video{
            box-sizing: content-box;
            width: 100%;
            height: 77vh;
           
            padding: auto;
            background-color: #FDEDEC;

        }
      
        #video .videoyt{
        padding: 1em;
        z-index: 100;
        width: 100%;
        height: 100%;
    }

/*Mas recetas*/

#merienda{
    box-sizing: border-box;
    width: 100%;
    height: 58vh;
    padding: 5px;
    background-color: #FDEDEC;
    display: flex;


}

#merienda h2{

    text-align: center;
    font-family: "caveat" ;
    color:#1C2833;
    font-size: 5.80vw;
}
#merienda .masrecetas
{
	margin-left: 4%;
	padding: 0;
	list-style: none;
}
#merienda .masrecetas li
{
	border-top: solid 1px #E5E5E5;
	padding: 0.80em 0;
}

#merienda .masrecetas li:first-child{
	border-top: 0;
	padding-top: 1px;
}
#merienda .masrecetas li a {
	text-decoration: none;
	border-radius: 5px;
  background-color: #E33E3E  ;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	color: #F4F0F0;
	font-family: 'Balsamiq Sans', cursive;
}
#merienda .masrecetas li a:hover {
	background-color: #FE3605;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);}


/*CHIPA  DATOS*/

#chipadatos{
    box-sizing: content-box;
    width: 100%;
    height: 58vh;
    padding: 5px;
    background-color: #FDEDEC;
    overflow: auto;
    display: flex;
  }
#chipadatos .titulodatos{

  margin-left: 1em;
  font-family: 'Balsamiq Sans', cursive;
  font-variant: small-caps;
  font-size: 1em;
  font-kerning: normal;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;

}

#chipadatos .textodatos{

    font-family: 'Concert One', cursive;
    font-size: 0.90em;
    color: #000000;
  
}

/*MAPA*/
#map{

    box-sizing: border-box;
    width: 100%;
    height: 58vh;
    padding: 5px;
    background-color: #FDEDEC;
    display: flex;
}

#map .map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
   

}

#map .map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;}

    /*PREGUNTA FINAL*/

#preguntafinal{
    box-sizing: border-box;
    width: 100%;
    height: 30vh;
    padding: 5px;
    background-color: #FDEDEC;
    display: flex;

}    

#preguntafinal .preguntafinal{
    font-family:'Concert One', cursive;
    font-size: 1.25em;
    color: #000000;
  }

#carpinch{
    box-sizing: border-box;
    width: 100%;
    height: 30vh;
    padding: 5px;
    background-color: #FDEDEC;
    display: flex;

}
#carpinch .carpincho{
   position:unset;
    height: auto;
    width: auto;
    float: right;
    margin-right: 2em;
    border: black 2px solid;
    margin-bottom: 2em;


}

/*FOOTER*/

footer{

    box-sizing: border-box;
    width: 100%;
    height: 30vh;
    padding: 5px;
    background-color: #F08080;
    display: flex;


}
#copyright p
{
	letter-spacing: 0.20em;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.80em;
  color:#391212;
	font-family: 'Balsamiq Sans', cursive;

}

#copyright a
{
	text-decoration: none;
}


.container a{
color:#6E1928 ;

}
.container a:hover{
	background-color: #C53851 ;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);


}